In [9]:
import numpy as np
import pandas as pd 

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import os
print(os.listdir("../Python-ILP"))

['hello.py', 'result.svg', 'FIFA 19.ipynb', 'Day 10 - 11 GUI, File and exception.ipynb', 'gamersky_08origin_15_2019321457125.jpg', 'gamersky_10origin_19_2019391551823.jpg', 'Day 12-13 Strings and regular expressions, Process and thread.ipynb', 'data.json', 'c.txt', 'news.json', 'b.txt', 'a.txt', 'Day 15 Pics.ipynb', '1.txt', '.ipynb_checkpoints', 'Day 16 - 20.ipynb', '.git', 'Day 01-06.ipynb', 'Day 07-.ipynb', 'Day 08 - 09 OO.ipynb', 'Matplotlib and Data visualization.ipynb', 'Day 14 Introduction to Network Programming.ipynb', 'fifa19.csv']

In [15]:
data = pd.read_csv('../Python-ILP/fifa19.csv')
print(data.shape)

(18207, 89)

In [22]:
using_columns = [
    'Name', 
    'Age', 
    'Photo', 
    'Nationality', 
    'Overall', 
    'Potential', 
    'Club', 
    'Value', 
    'Wage', 
    'Position',
    'Release Clause'
]
dataset = pd.DataFrame(data, columns = using_columns)

In [23]:
dataset.head()

,Name,Age,Photo,Nationality,Overall,Potential,Club,Value,Wage,Position,Release Clause
0,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,94,94,FC Barcelona,€110.5M,€565K,RF,€226.5M
1,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,94,94,Juventus,€77M,€405K,ST,€127.1M
2,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,LW,€228.1M
3,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,91,93,Manchester United,€72M,€260K,GK,€138.6M
4,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,91,92,Manchester City,€102M,€355K,RCM,€196.4M

In [25]:
#Check null
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 11 columns):
Name              18207 non-null object
Age               18207 non-null int64
Photo             18207 non-null object
Nationality       18207 non-null object
Overall           18207 non-null int64
Potential         18207 non-null int64
Club              17966 non-null object
Value             18207 non-null object
Wage              18207 non-null object
Position          18147 non-null object
Release Clause    16643 non-null object
dtypes: int64(3), object(8)
memory usage: 1.5+ MB

In [27]:
dataset.describe()

                Age       Overall     Potential
count  18207.000000  18207.000000  18207.000000
mean      25.122206     66.238699     71.307299
std        4.669943      6.908930      6.136496
min       16.000000     46.000000     48.000000
25%       21.000000     62.000000     67.000000
50%       25.000000     66.000000     71.000000
75%       28.000000     71.000000     75.000000
max       45.000000     94.000000     95.000000

In [30]:
#Number of countries and top 5 countries with highest number of players
print('Total country numbers are : {0}'.format(dataset['Nationality'].nunique()))
print(dataset['Nationality'].value_counts().head(5))

Total country numbers are : 164
England      1662
Germany      1198
Spain        1072
Argentina     937
France        914
Name: Nationality, dtype: int64

In [52]:
#Top 5 players who have maximum potential and overall
print('Maximum Potential : '+str(dataset.loc[dataset['Potential'].idxmax()][0]) + ' with '+ str(dataset.loc[dataset['Potential'].idxmax()][5]))
print('Maximum Overall Perforamnce : '+str(dataset.loc[dataset['Overall'].idxmax()][0]) + ' with ' + str(dataset.loc[dataset['Overall'].idxmax()][4]))

Maximum Potential : K. Mbappé with 95
Maximum Overall Perforamnce : L. Messi with 94

In [ ]:
while i < 5:
    print('Best Potential' +  )