In [457]:
import numpy as np
import pandas as pd 

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from scipy.stats import poisson,skellam

import os
print(os.listdir("../Predict winner of Premier League"))

['season-1819_csv.csv', 'Predict Winner.ipynb', 'season-1617_csv.csv', 'season-1718_csv.csv', 'season-1516_csv.csv', '.ipynb_checkpoints']

In [467]:
data19 = pd.read_csv('../Predict winner of Premier League/season-1819_csv.csv')
data18 = pd.read_csv('../Predict winner of Premier League/season-1718_csv.csv')
print(data18.shape)

(380, 65)

In [468]:
using_columns = [
    'Date', 
    'HomeTeam', 
    'AwayTeam', 
    'FTHG',
    'FTAG',
    'FTR',
    'HScore',
    'AScore'
]
data18 = pd.DataFrame(data18, columns = using_columns)
data18['HScore'] = data18['HScore'].fillna(0)
data18['AScore'] = data18['AScore'].fillna(0)

In [469]:
def to_num(value):
    if value[0] == 'H':
        return 1
    elif value[0] == 'A':
        return -1
    else:
        return 0
    
data18['FTR'] = data18['FTR'].apply(lambda x: to_num(x))

In [474]:
'''
for i in range(0, len(data18)):
    if data18.iloc[i]['FTR'] == 1:
        data18.loc[i, 'HScore'] = 3
'''
# probability of draw between home and away team
skellam.pmf(0.0,  data18.mean()[0],  data18.mean()[1])

0.2538008836380457

In [475]:
# probability of home team winning by one goal
skellam.pmf(1,  data18.mean()[0],  data18.mean()[1])

0.22886603504134242

In [313]:
def hscore(df):
    if df['FTR'] == 1:
        return 3
    elif df['FTR'] == 0:
        return 1
    else:
        return 0
    
def ascore(df):
    if df['FTR'] == -1:
        return 3
    elif df['FTR'] == 0:
        return 1
    else:
        return 0

In [314]:
data18['HScore']=data18.apply(lambda r:hscore(r),axis=1)
data18['AScore']=data18.apply(lambda r:ascore(r),axis=1)

In [315]:
data18.head(10)

       Date        HomeTeam      AwayTeam  FTHG  FTAG  FTR  HScore  AScore
0  11/08/17         Arsenal     Leicester     4     3    1       3       0
1  12/08/17        Brighton      Man City     0     2   -1       0       3
2  12/08/17         Chelsea       Burnley     2     3   -1       0       3
3  12/08/17  Crystal Palace  Huddersfield     0     3   -1       0       3
4  12/08/17         Everton         Stoke     1     0    1       3       0
5  12/08/17     Southampton       Swansea     0     0    0       1       1
6  12/08/17         Watford     Liverpool     3     3    0       1       1
7  12/08/17       West Brom   Bournemouth     1     0    1       3       0
8  13/08/17      Man United      West Ham     4     0    1       3       0
9  13/08/17       Newcastle     Tottenham     0     2   -1       0       3

In [441]:
homescore = data18.groupby('HomeTeam')['HScore']
awayscore = data18.groupby('AwayTeam')['AScore']

team = data18.groupby('HomeTeam')
team = dict(list(team))

In [438]:
def to_list(dict):
    a=[]
    for i in dict.keys():
        a.append(i)
    return a

team = to_list(team)

In [439]:
hs = list(homescore.sum())
ws = list(awayscore.sum())

def list_add(a,b):
    c = []
    for i in range(len(a)):
        c.append(a[i]+b[i])
    return c

score = list_add(hs, ws)

In [446]:
result = dict(zip(team,score))
#result = sorted(result.items(), key = lambda x:x[1], reverse = True)
max(result, key=result.get)

'Man City'